@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

body{
	display: grid;
	place-items: center;
	background: #131419;
}

div.clock{
	color: rgb(167, 75, 212);
	font-size: 100px;
	/* background:  rgb(240, 237, 242); */
	border-radius: 10px;
	box-shadow: 10px 5px 5px rgb(144, 27, 155);
}

div.display{
	color:  rgb(167, 75, 212);
	padding: 10px;
	border: 2px solid  rgb(167, 75, 212);
	border-radius: 10px;
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    outline: none;
    outline-color: white;
    background-color: #b22db9;
    position: absolute;
    top: 10px;
    right: 10px;
}

.light {
    background-color: white;
    color: black;
}


footer {
    color: #b22db9;
    text-align: center;
    /* font-size: 10px; */
}